<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences</key>
	<dict>
		<key>Debug</key>
		<true/>
		<key>Off</key>
		<false/>
		<key>SaveLogCompress</key>
		<false/>
		<key>SaveLogToDeviceTree</key>
		<false/>
		<key>SaveLogToFile</key>
		<true/>
		<key>SaveLogToNvram</key>
		<false/>
	</dict>
</dict>
</plist>
